In [ ]:
# General imports
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random

from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [ ]:
## Simple "Memory profilers" to see memory usage
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [ ]:
## Memory Reducer
# :df pandas dataframe to reduce size             # type: pd.DataFrame()
# :verbose                                        # type: bool
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [ ]:
## Merging by concat to not lose dtypes
def merge_by_concat(df1, df2, merge_on):
    merged_gf = df1[merge_on]
    merged_gf = merged_gf.merge(df2, on=merge_on, how='left')
    new_columns = [col for col in list(merged_gf) if col not in merge_on]
    df1 = pd.concat([df1, merged_gf[new_columns]], axis=1)
    return df1

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
########################### Vars
#################################################################################
TARGET = 'sales'         # Our main target
END_TRAIN = 1941         # Last day in train set
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [ ]:
########################### Load Data
#################################################################################
print('Load Main Data')

# Here are reafing all our data 
# without any limitations and dtype modification
train_df = pd.read_csv('/content/gdrive/My Drive/m5/sales_train_evaluation.csv')
prices_df = pd.read_csv('/content/gdrive/My Drive/m5/sell_prices.csv')
calendar_df = pd.read_csv('/content/gdrive/My Drive/m5/calendar.csv')

Load Main Data

In [ ]:
train_df.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [ ]:
train_df.shape

(30490, 1947)

In [ ]:
prices_df.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [ ]:
prices_df.shape

(6841121, 4)

In [ ]:
calendar_df[1940:]

            date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
1940  2016-05-22     11617     Sunday  ...        0        0        0
1941  2016-05-23     11617     Monday  ...        0        0        0
1942  2016-05-24     11617    Tuesday  ...        0        0        0
1943  2016-05-25     11617  Wednesday  ...        0        0        0
1944  2016-05-26     11617   Thursday  ...        0        0        0
1945  2016-05-27     11617     Friday  ...        0        0        0
1946  2016-05-28     11618   Saturday  ...        0        0        0
1947  2016-05-29     11618     Sunday  ...        0        0        0
1948  2016-05-30     11618     Monday  ...        0        0        0
1949  2016-05-31     11618    Tuesday  ...        0        0        0
1950  2016-06-01     11618  Wednesday  ...        1        1        0
1951  2016-06-02     11618   Thursday  ...        1        0        1
1952  2016-06-03     11618     Friday  ...        1        1        1
1953  2016-06-04     11619   Saturday  ...        1        0        0
1954  2016-06-05     11619     Sunday  ...        1        1        1
1955  2016-06-06     11619     Monday  ...        1        1        1
1956  2016-06-07     11619    Tuesday  ...        1        1        0
1957  2016-06-08     11619  Wednesday  ...        1        0        1
1958  2016-06-09     11619   Thursday  ...        1        1        1
1959  2016-06-10     11619     Friday  ...        1        0        0
1960  2016-06-11     11620   Saturday  ...        0        1        1
1961  2016-06-12     11620     Sunday  ...        0        1        1
1962  2016-06-13     11620     Monday  ...        0        1        0
1963  2016-06-14     11620    Tuesday  ...        0        0        1
1964  2016-06-15     11620  Wednesday  ...        0        1        1
1965  2016-06-16     11620   Thursday  ...        0        0        0
1966  2016-06-17     11620     Friday  ...        0        0        0
1967  2016-06-18     11621   Saturday  ...        0        0        0
1968  2016-06-19     11621     Sunday  ...        0        0        0

[29 rows x 14 columns]

In [ ]:
calendar_df.shape

(1969, 14)

In [ ]:
########################### Make Grid/ДОБАВЛЯЕМ 28 ТЕСТОВЫХ ДНЕЙ
#################################################################################
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)
# по каждому составному индексу данные по продажам по дням

# If we look on train_df we se that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in index_columns:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usag 
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Create Grid
Train rows: 30490 59181090
    Original grid_df:   3.6GiB
     Reduced grid_df:   1.3GiB

In [ ]:
grid_df.head()

                              id        item_id    dept_id  ... state_id    d sales
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  ...       CA  d_1   0.0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  ...       CA  d_1   0.0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  ...       CA  d_1   0.0
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  ...       CA  d_1   0.0
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  ...       CA  d_1   0.0

[5 rows x 8 columns]

In [ ]:
grid_df.d

0              d_1
1              d_1
2              d_1
3              d_1
4              d_1
             ...
60034805    d_1969
60034806    d_1969
60034807    d_1969
60034808    d_1969
60034809    d_1969
Name: d, Length: 60034810, dtype: object

In [ ]:
grid_df.item_id.unique()

[HOBBIES_1_001, HOBBIES_1_002, HOBBIES_1_003, HOBBIES_1_004, HOBBIES_1_005, ..., FOODS_3_823, FOODS_3_824, FOODS_3_825, FOODS_3_826, FOODS_3_827]
Length: 3049
Categories (3049, object): [HOBBIES_1_001, HOBBIES_1_002, HOBBIES_1_003, HOBBIES_1_004, ...,
                            FOODS_3_824, FOODS_3_825, FOODS_3_826, FOODS_3_827]

In [ ]:
########################### Product Release date/УДАЛЯЕМ ОТСУТ ТОВАРЫ! до релиза
#################################################################################
# Main logic is the same -> no price -> no product in store -> remove such zeros.
print('Release week')

# It seems that leadings zero values
# in each train_df item row
# are not real 0 sales but mean
# absence for the item in the store
# we can safe some memory by removing
# such zeros

# Prices are set by week
# so it we will have not very accurate release week 
release_df = prices_df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index() # агрегируем по минимальной недедели (поймем когда была первая продажа)
release_df.columns = ['store_id','item_id','release']

# Now we can merge release_df
grid_df = merge_by_concat(grid_df, release_df, ['store_id','item_id']) # получим объединенный датасет, где будет дата релиза товара по каждой паре стор айди/айтим айди из трейн даты
del release_df

# We want to remove some "zeros" rows
# from grid_df 
# to do it we need wm_yr_wk column
# let's merge partly calendar_df to have it
grid_df = merge_by_concat(grid_df, calendar_df[['wm_yr_wk','d']], ['d'])# получим объединенный датасет, где будет останется инф-ия ток с датой по индексу большей даты релиха/
#удаляем отсутсвующие товары
                      
# Now we can cutoff some rows 
# and safe memory 
grid_df = grid_df[grid_df['wm_yr_wk']>=grid_df['release']]
grid_df = grid_df.reset_index(drop=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# Should we keep release week 
# as one of the features?
# Only good CV can give the answer.
# Let's minify the release values.
# Min transformation will not help here 
# as int16 -> Integer (-32768 to 32767)
# and our grid_df['release'].max() serves for int16
# but we have have an idea how to transform 
# other columns in case we will need it
grid_df['release'] = grid_df['release'] - grid_df['release'].min()
grid_df['release'] = grid_df['release'].astype(np.int16)

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Release week
    Original grid_df:   1.8GiB
     Reduced grid_df:   1.5GiB

In [ ]:
grid_df.head()

                              id        item_id  ... release wm_yr_wk
0  HOBBIES_1_008_CA_1_evaluation  HOBBIES_1_008  ...       0    11101
1  HOBBIES_1_009_CA_1_evaluation  HOBBIES_1_009  ...       0    11101
2  HOBBIES_1_010_CA_1_evaluation  HOBBIES_1_010  ...       0    11101
3  HOBBIES_1_012_CA_1_evaluation  HOBBIES_1_012  ...       0    11101
4  HOBBIES_1_015_CA_1_evaluation  HOBBIES_1_015  ...       0    11101

[5 rows x 10 columns]

In [ ]:
grid_df.shape

(47735397, 10)

In [ ]:
########################### Save part 1
#################################################################################
print('Save Part 1')

# We have our BASE grid ready
# and can save it as pickle file
# for future use (model training)
grid_df.to_pickle('grid_part_1.pkl')

print('Size:', grid_df.shape)

Save Part 1
Size: (47735397, 10)

Данные 34900 (id) * 1941 дня,  очищенные от отсутвущих продаж

In [ ]:
!cp 'grid_part_1.pkl' /content/gdrive/'My Drive'/m5_new

In [ ]:
prices_df

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [ ]:
########################### Prices/НОВЫЕ ПРИЗНАКИ ПО ПРАЙСУ
#################################################################################
print('Prices')

# We can do some basic aggregations
prices_df['price_max'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('max')
prices_df['price_min'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('min')
prices_df['price_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('std')
prices_df['price_mean'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# and do price normalization (min/max scaling)
prices_df['price_norm'] = prices_df['sell_price'] / prices_df['price_max']
prices_df['price_norm_2'] = (prices_df['sell_price'] - prices_df['price_min']) / (prices_df['price_max'] -  prices_df['price_min'])

# Some items are can be inflation dependent
# and some items are very "stable"
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique') # ряд с числом различных значений
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

# I would like some "rolling" aggregations
# but would like months and years as "window"
calendar_prices = calendar_df[['wm_yr_wk','month','year']]
calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk']) # остаются данные по неделям (282 стоки) - wm_yr_wk	 уникально
prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left') # добавил 'month','year' к прайсу по уникальному  wm_yr_wk
del calendar_prices

# Now we can add price "momentum" (some sort of)
# Shifted by week 
# by month mean
# by year mean
prices_df['price_momentum'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1)) # сдвиг на строку вниз (неделя)
prices_df['price_momentum_m'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
prices_df['price_momentum_y'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

del prices_df['month'], prices_df['year']

Prices

In [ ]:
prices_df.head()

  store_id        item_id  ...  price_momentum_m  price_momentum_y
0     CA_1  HOBBIES_1_001  ...          1.127059          1.145166
1     CA_1  HOBBIES_1_001  ...          1.127059          1.145166
2     CA_1  HOBBIES_1_001  ...          0.971765          0.987377
3     CA_1  HOBBIES_1_001  ...          1.000000          0.987377
4     CA_1  HOBBIES_1_001  ...          1.000000          0.987377

[5 rows x 15 columns]

In [ ]:
prices_df.shape

(6841121, 15)

In [ ]:
########################### Merge prices and save part 2@ / ДОБАВЛЯЕМ В ГРИД ИНФ-Ю О ПРОДАЖАХ (МАКС - ЭТО МАКС СТ ТОВАРА В ЭТОМ МАЗАЗИНЕ ЗА ВСЕ ВРЕМЯ)
#################################################################################
print('Merge prices and save part 2')

# Merge Prices
original_columns = list(grid_df)
grid_df = grid_df.merge(prices_df, on=['store_id','item_id','wm_yr_wk'], how='left')
keep_columns = [col for col in list(grid_df) if col not in original_columns]
grid_df = grid_df[MAIN_INDEX+keep_columns]
grid_df = reduce_mem_usage(grid_df)

# Safe part 2
grid_df.to_pickle('grid_part_2.pkl')
print('Size:', grid_df.shape)

# We don't need prices_df anymore
del prices_df

# We can remove new columns
# or just load part_1
#grid_df = pd.read_pickle('grid_part_1.pkl')

Merge prices and save part 2
Mem. usage decreased to 1913.49 Mb (63.1% reduction)
Size: (47735397, 14)

In [ ]:
!cp 'grid_part_2.pkl' /content/gdrive/'My Drive'/m5_new # продажи по id и дню

In [ ]:
grid_df.tail()

                                   id  ... price_momentum_y
47735392  FOODS_3_823_WI_3_evaluation  ...         1.022461
47735393  FOODS_3_824_WI_3_evaluation  ...         1.112305
47735394  FOODS_3_825_WI_3_evaluation  ...         1.000000
47735395  FOODS_3_826_WI_3_evaluation  ...         1.000000
47735396  FOODS_3_827_WI_3_evaluation  ...         1.000000

[5 rows x 14 columns]

In [ ]:
grid_df.shape

(47735397, 14)

In [ ]:
keep_columns

['sell_price',
 'price_max',
 'price_min',
 'price_std',
 'price_mean',
 'price_norm',
 'price_norm_2',
 'price_nunique',
 'item_nunique',
 'price_momentum',
 'price_momentum_m',
 'price_momentum_y']

In [ ]:
grid1 = pd.read_pickle('/content/gdrive/My Drive/m5_new/grid_part_1.pkl')

In [ ]:
grid1.head()

                              id        item_id  ... release wm_yr_wk
0  HOBBIES_1_008_CA_1_evaluation  HOBBIES_1_008  ...       0    11101
1  HOBBIES_1_009_CA_1_evaluation  HOBBIES_1_009  ...       0    11101
2  HOBBIES_1_010_CA_1_evaluation  HOBBIES_1_010  ...       0    11101
3  HOBBIES_1_012_CA_1_evaluation  HOBBIES_1_012  ...       0    11101
4  HOBBIES_1_015_CA_1_evaluation  HOBBIES_1_015  ...       0    11101

[5 rows x 10 columns]

In [ ]:
########################### Merge calendar/ПЕРЕВЕЛИ ДАТЫ В НОРМ ФОРМАТ
#################################################################################
grid_df = grid1[MAIN_INDEX]

# Merge calendar partly
icols = ['date',
         'd',
         'event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI']

grid_df = grid_df.merge(calendar_df[icols], on=['d'], how='left')

# Minify data
# 'snap_' columns we can convert to bool or int8
icols = ['event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI']
for col in icols:
    grid_df[col] = grid_df[col].astype('category')

# Convert to DateTime
grid_df['date'] = pd.to_datetime(grid_df['date'])

# Make some features from date
grid_df['tm_d'] = grid_df['date'].dt.day.astype(np.int8)
grid_df['tm_w'] = grid_df['date'].dt.week.astype(np.int8)
grid_df['tm_m'] = grid_df['date'].dt.month.astype(np.int8)
grid_df['tm_y'] = grid_df['date'].dt.year
grid_df['tm_y'] = (grid_df['tm_y'] - grid_df['tm_y'].min()).astype(np.int8)
grid_df['tm_wm'] = grid_df['tm_d'].apply(lambda x: ceil(x/7)).astype(np.int8)

grid_df['tm_dw'] = grid_df['date'].dt.dayofweek.astype(np.int8)
grid_df['tm_w_end'] = (grid_df['tm_dw']>=5).astype(np.int8)

# Remove date
del grid_df['date']

In [ ]:
grid_df.head()

                              id    d event_name_1  ... tm_wm tm_dw tm_w_end
0  HOBBIES_1_008_CA_1_evaluation  d_1          NaN  ...     5     5        1
1  HOBBIES_1_009_CA_1_evaluation  d_1          NaN  ...     5     5        1
2  HOBBIES_1_010_CA_1_evaluation  d_1          NaN  ...     5     5        1
3  HOBBIES_1_012_CA_1_evaluation  d_1          NaN  ...     5     5        1
4  HOBBIES_1_015_CA_1_evaluation  d_1          NaN  ...     5     5        1

[5 rows x 16 columns]

In [ ]:
grid_df.shape

(47735397, 16)

In [ ]:
########################### Save part 3 (Dates)
#################################################################################
print('Save part 3')

# Safe part 3
grid_df.to_pickle('grid_part_3.pkl')
print('Size:', grid_df.shape)

# We don't need calendar_df anymore
del calendar_df
del grid_df

Save part 3
Size: (47735397, 16)

In [ ]:
!cp 'grid_part_3.pkl' /content/gdrive/'My Drive'/m5_new

In [ ]:
########################### Some additional cleaning
#################################################################################

## Part 1
# Convert 'd' to int
grid_df = pd.read_pickle('/content/gdrive/My Drive/m5_new/grid_part_1.pkl')
grid_df['d'] = grid_df['d'].apply(lambda x: x[2:]).astype(np.int16)# оставил ток номер дня без d_

# Remove 'wm_yr_wk'
# as test values are not in train set
del grid_df['wm_yr_wk']
grid_df.to_pickle('grid_part_1.pkl')
!cp 'grid_part_1.pkl' /content/gdrive/'My Drive'/m5_new 
del grid_df

In [ ]:
grid_df.head()

NameError: ignored

In [ ]:
grid_df.shape

In [ ]:
grid_df.head()

In [ ]:
grid_df.shape